<p>App Component</p>

<!--<app-forest *ngIf="forestVisible" [id]="forestIndex"></app-forest>-->

<!--<button (click)="removeForest()" [disabled]="!forestVisible">Remove Forest</button>-->
<!--<button (click)="addForest()" [disabled]="forestVisible">Add Forest</button>-->

<button (click)="navigateToRainForest()" [disabled]="rainForestVisible">Navigate to rain forest</button>
<button (click)="navigateToAppComponent()" [disabled]="!rainForestVisible">Navigate to App component</button>

<router-outlet></router-outlet>
